<div>
    <h2 translate="myappApp.lesson.home.title">Lessons</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="lesson.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="myappApp.lesson.home.createLabel">Create new Lesson
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="myappApp.lesson.date">Date</span></th>
                    <th><span translate="myappApp.lesson.type">Type</span></th>
                    <th><span translate="myappApp.lesson.level">Level</span></th>
                    <th><span translate="myappApp.lesson.rider">rider</span></th>
                    <th><span translate="myappApp.lesson.equidae">equidae</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lesson in lessons track by lesson.id">
                    <td><a ui-sref="lesson.detail({id:lesson.id})">{{lesson.id}}</a></td>
                        <td>{{lesson.date | date:'mediumDate'}}</td>
                    <td>{{lesson.type}}</td>
                    <td>{{lesson.level}}</td>
                    <td>
                        <span ng-repeat="rider in lesson.riders">
                            <a class="form-control-static" ui-sref="rider.detail({id: {{rider.id}}})">{{rider.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <span ng-repeat="equidae in lesson.equidaes">
                            <a class="form-control-static" ui-sref="equidae.detail({id: {{equidae.id}}})">{{equidae.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="lesson.detail({id:lesson.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lesson.edit({id:lesson.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lesson.delete({id:lesson.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
